
div.header-bar
{
	height: 17px;
	text-align: right;
	position: relative;
}

#iphone div.header-bar
{
	height: 32px;
}

div.tile-container
{
	height: 86px;
}

img.search-icon 
{
    width: 11px;
}

#computer img.search-icon
{
	margin-right: 1%;
}

#ipad img.search-icon
{
	margin-right: 1%;
}

img.home-icon 
{
    width: 12px;
    float: left;
    margin-left: 2%;
    margin-top: 2px;
}

.top-nav ul 
{
    position: absolute;
    top: 18px;
    right: 10px;
    list-style-type: none;
	margin: 0;
    padding: 0;
	display: flex;
}

.top-nav ul li
{
	width: 50px;
}

#ipad .top-nav ul 
{
	right: 6px;
}

#ipad .top-nav ul li
{
	width: 41px;
}

#iphone .top-nav ul 
{
	right: 0;
	top: 27px;
}

#iphone .top-nav ul li
{
	width: 38px;
}

#iphone .top-nav ul li p
{
	margin: 0;
}

#ipad_main_area .tile-container 
{
    height: 125px;
}

#computer_top_banner
{
	height:42px;
}

.LogoImage_img
{
	left: 10px;
	top: 15%;
	max-height: 65%;
}

#computer_search_bar
{
	position: relative;
   /* left: 320px; */
    top: -1px;
    width: 150px;
    height: 9px;
}

#computer_side_nav
{
	position: absolute;
	width: 156px;
	height: 271px;
	top: 59px;
	padding: 10px 0px 0px 0px;
}

#computer_side_nav > ul 
{
    padding-right: 10px;
}

#computer_side_nav ul
{
	margin: 0px;
	padding-left: 10px;
	padding-bottom: 0px;
}

#computer_side_nav li
{
	font-size: 6px;
	list-style-type: none;
	padding: 3px;
	border-bottom: 1px solid var(--Darkest);
}

#computer_hero_area
{
	top: 59px;
	left: 156px;
	height:126px;
	width: 388px;
}

#computer_hero_area h1
{
	margin-top: 44px;
}	

#computer_quick_links
{
	position: absolute;
	top: 168px;
	left: 156px;
	width: 388px;
	height: 86px;
}

#computer_general_area
{
	position: absolute;
	top: 168px;
	left: 156px;
	width: 388px;
	height: 172px;
	text-align: left;
}

#computer_crouton_1
{
	position: absolute;
	top: 18px;
	left: 50px;
}

#computer_crouton_2
{
	position: absolute;
	top: 18px;
	left: 203px;
}

.computer_crouton
{
	width: 135px;
	height: 52px;
}

.computer_crouton img
{
	width: 36px;
	float: left;
	margin: 10px 5px 10px 5px;
}

.computer_crouton p
{
	font-size: 5.5px;	
	text-align: left;
	margin: 14px 8px 10px 3px;
}

#computer_updates
{
	position: absolute;
	top: 94px;
	left: 50px;
}

#computer_updates p
{
	margin: 0px;
}

#ipad_top_banner
{
	height: 40px;
}

#ipad_search_bar
{
	width: 57%;
    height: 7px;
    margin-bottom: 5px;
}

#ipad_logo_image
{
	position: relative;
	left: 5px;
	top: 20%;
	max-height: 55%;
	margin-bottom: 0px;
	width: auto;
}

#ipad_hero_area
{
	text-align:center;
	position:absolute;
	top:56px;
	height:144px;
	width: 100%;
}

#ipad_hero_area h1
{
	margin: 45px 70px;
}

#ipad_hero_area_kb
{
	text-align:center;
	position:absolute;
	top:40px;
	height:144px;
	width: 100%;
}

#ipad_hero_area_kb h1
{
	margin: 44px 10px;
}

#ipad_main_area
{
	position: absolute;
	top: 184px;
	height:210px;
	width: 100%;
}


#ipad_crouton_1
{
	position: absolute;
	left: 37px;
}

#ipad_crouton_2
{
	position: absolute;

	left: 158px;
}

.ipad_crouton
{
	top: 19px;
	width: 95px;
	height: 88px;
	text-align:center;
}

.ipad_crouton img
{
	width: 36px;
	margin: 5px;
}

.ipad_crouton p
{
	font-size: 5.5px;
}

#ipad_updates
{
	position: absolute;
	top: 124px;
	left: 37px;
	width: 222px;
}

#ipad_updates p
{
	margin: 0px;
}

#iphone_top_banner
{
	height: 40px;
}

#iphone_search_bar
{
	width: 91%;
    height: 8px;
    margin-bottom: 4px;
	position: absolute;
	bottom: -1px;
	right: 1%;
}

#iphone_logo_image
{
	position: relative;
	left: 5px;
	top: 2%;
	max-height: 48%;
	margin-bottom: 0px;
	width: auto;
}

#iphone_hero_area
{
	position:absolute;
	top: 71px;
	height: 88px;
}

#iphone_hero_area_kb
{
	position:absolute;
	top: 40px;
	height: 88px;
	text-align:center;
}

#iphone_hero_area h1
{
	margin-top:17px;
	font-size: 14px;
}

#iphone_hero_area_kb h1
{
	margin-top:15px;
	font-size: 14px;
}

#iphone_main_area 
{
    position: absolute;
    top: 132px;
    height: 84px;
    width: 123px;
}

.iphone_crouton
{
	position: relative;
	top: 10px;
	left: 8px;
	width: 107px;
	height: 74px;
	text-align:center;
}

.iphone_crouton img
{
	width: 36px;
	margin: 4px;
}

.iphone_crouton p
{
	font-size: 5.5px;
}
	